h1{
    text-align: center;
    color: rgb(53, 50, 228);
}
h2{
    color: rgba(7, 230, 37, 0.918);
}
.Nom{
    text-align:initial;
    color: rgb(0, 0, 0);

}
.contact{
    text-align:initial;
    list-style-type: none;
    padding: 0;
    color: black;
}
ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;

}